{% extends "base.html" %}

{% block content %}
<div>
    <form action="" method="post">
        <h1>Введите текст</h1>
        {{ form.text }}
        {% for error in form.text.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <p>{{ form.submit }}</p>
    </form>
</div>
{% endblock %}