.workPage {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-areas:
    'body'
    'footer';
    grid-template-rows: 91vh 9vh;
}
.workPageDark {
    background-color: rgba(52, 39, 38, 1);
}
.workPageLight {
    background-color: rgba(232, 201, 188, 1);
}




.headerStyle {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
}
.headerStyle:hover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.7);
}

.workPageBody {
    grid-area: body;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 41% 59%;
}

.aboutProgramFunctions {
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-rows: 70% 28%;
}
.textPart {
    width: 100%;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 3% 46% 2% 46% 3%;
}
.enterText {
    border-radius: 10%;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    width: 100%;
}
.ResultPart {
    width: 100%;
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    
    display: grid;
    grid-template-rows: 88.5% 11.5%;
}
.ResultPartForm {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgba(137, 110, 105, 1);
    color: rgba(255, 255, 255, 1);
    font-size: normal;
    display: grid;
    grid-template-rows: 75% 25%;
    position: relative;
}
.ResultPartMessage {
    grid-row-start: 2;
    grid-row-end: 3;
}

.ResultPartMessageDark, .ResultPartMessageLight {
    padding-top: 1%;
    padding-left: 1%;
    font-size: 20px;
    font-weight: bolder;
}

.TextTransformed {
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgb(0, 0, 0);
    overflow-y: auto;
}

.SynonimPart {
    width: 100%;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: auto;
}



.workPageHeaderDark, .workPageHeaderLight {
    background-color: rgba(125, 48, 34, 0.5);
}

.workPageHeaderDark:hover, .workPageHeaderLight:hover {
    background-color: rgba(125, 48, 34, 0.7);
}


.aboutProgramFunctions_imagePosition_1 {
    margin-top: -12.2%;
    margin-left: 20.15%;
    width: 18%;
    height: 22%;
}

.image1 {
    width: 100%;
}

.aboutProgramFunctions_imagePosition_2 {
    width: 28%;
    margin-left: 40%;
    margin-top: -6.6%;
}
.image2 {
    width: 100%;
}

.aboutProgramFunctions_imagePosition_3 {
    width: 28%;
    margin-left: 0%;
    margin-top: -1.5%;
}
.image3 {
    width: 100%;
}
.aboutProgramFunctions_imagePosition_4 {
    width: 28%;
    margin-left: 72%;
    margin-top: -17.5%;
}
.image4 {
    width: 100%;
}
.aboutProgramFunctions_text {
    width: 94%;
    height: 100%;
    margin-left: 3%;
    text-align: center;
    font-size: 24px;
    overflow-y: auto;
    font-weight: bolder;
    border-radius: 10px;
}
.aboutProgramFunctions_textLight {
    color: black;
    background-color: rgb(0, 0, 0, 0.2);
}
.aboutProgramFunctions_textDark {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, 0.2);
}


.workPageFooter {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}
.workPageFooterDark {
    background-color: rgba(255, 165, 119, 0.1);
}
.workPageFooterLight {
    background-color: rgba(255, 165, 119, 0.4);
}


.buttonPart {
    align-items: center;
}


.enterTextForm {
    width: 100%;
    height: 85%;
}
.TextArea {
    background-color: rgba(137, 110, 105, 1);
    border-radius: 2%;
    color: rgba(255, 255, 255, 1);
    font-size: large;
    width: 98.5%;
    height: 90%;
    max-width: 98.5%;
    min-width: 98.5%;
    max-height: 40vh;
    min-height: 40vh;
}

.textPart_parametrs {
    position: absolute;
    
    width: 60%;
}

.textPart_parametrsDark, .ResultPartMessageDark {
    color: white;
}
.textPart_parametrsLight,.ResultPartMessageLight {
    color: black;
}

.SendText {
    display: inline-block;
    position: relative;
    float: right;
    padding: 10px 20px;
    
    border-radius: 4px;
    margin-right: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.SendTextLight, .SendTextDark {
    background-color: rgba(137, 110, 105, 1);
    color: rgba(255, 255, 255, 1);
}

.SendText:focus {
    outline: none;
}

.SendText:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}

.SendText:disabled {
    background: #ccc;
    color: #000;
}



.primary {
    background: #2884f6;
    color: #fff;
}

.word_withSynonims {
    background-color: rgba(79, 79, 160, 0.3);
}
.word_withSynonims:hover {
    background-color: rgba(79, 79, 160, 0.6);
}
.word_withSynonims:active {
    background-color: rgba(79, 79, 160, 0.9);
}


.synonim {
    background-color: rgb(93, 93, 180);
}

.synonimOut:hover {
    background-color: rgba(0, 0, 211, 0.2);
}

.synonimOut:active {
    background-color: rgba(0, 0, 211, 0.35);
}

.isChanged {
    background-color: rgba(112, 0, 0, 0.5);
}

.newSynonim {
    width: 100%;
    height: 100%;
}

.newSynonim_textArea {
    width: 96%;
    max-width: 96%;
    min-width: 96%;
    height: 50%;
    min-height: 50%;
    max-height: 50%;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .loader {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 45%;
  }

  .moveText {
    display: block;
    padding-left: 2%;
    padding-top: 2%;
  }

  .icon {
      width: 6%;
      height: 100%;
  }

  .vkImageLight, .vkImageDark {
    height: 100%;
  }

  .switchLight {
      display: grid;
      height: 100%;
      grid-template-rows: 70% 30%;
  }

  .lightImageDark, .lightImageLight {
      grid-row-start: 2;
      grid-row-end: 3;
      height: 100%;
  }